@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Coming "namesurname" value from Redis : 
    @ViewBag.str
</h1>
<br />
<h1>
    Customer name value from Redis :
    @ViewBag.Customername
</h1>
<br />
<h3> if you want to remove this key from redis 
    <a href="/Redis/ClearKey">Click Please</a>
</h3>
