@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>
    Are you ready to read value from Redis? 
    <a href="/Redis/GetValue" >Click Please</a>
</h1>
<br /><br />

      <h1>
          Are you ready to write the image bytes to Redis?
          <a href="/Redis/SetImage">Click Please</a>
      </h1>
