@{
    ViewData["Title"] = "In Memory Page";
}

<div class="text-center">
    <h1 class="display-4">In Memory</h1>

    <div style="padding:20px; font-size:16pt;">
        Creating in memory cache. Test Link :
        <a href="/InMemory/GetTime">Click Please</a>
    </div>
</div>
